!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title Rinse Price Calculator
    %meta{:content => "Estimate how much it costs to use Rinse", :name => "description"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %link{ :href => "css/main.css", :media => "screen", :rel => "stylesheet" }
  %body
    .jumbotron
      .container
        %span#popover-disclaimer{"data-toggle" => "popover"} Unofficial
        %h1 Rinse Price Calculator
        %p Estimate how much it costs to clean your clothes with Rinse

        %form#new-garment
          .form-group
            %label{:for => "garment"} Garment
            %input#garment.form-control{:placeholder => "e.g. \"Shirt\", \"Blouse\", etc."}
          .form-group
            %button#add.btn.btn-primary Add

    .container
      .row
        %table.table.table-hover.table-striped
          %thead
            %td Garment
            %td Cost
            %td Quantity
            %td Total
          %tbody
          %tfoot
            %td.total-label Total
            %td.total-value $0.00

      %footer
        %p
          Created by
          = succeed "." do
            %a{:href => "http://www.kortaggio.com"} Bill Mei
          This website is not affiliated with Rinse Inc.

    / build:js js/main.js
    %script{ :src => "bower_components/jquery/dist/jquery.js" }
    %script{ :src => "bower_components/bootstrap/dist/js/bootstrap.js" }
    %script{ :src => "bower_components/underscore/underscore.js" }
    %script{ :src => "bower_components/backbone/backbone.js" }
    %script{ :src => "src/scripts/main.js" }
    / endbuild
