!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title Rinse Price Calculator
    %meta{:content => "Estimate how much it costs to use Rinse", :name => "description"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    / build:css css/main.css
    %link{:href => "css/bootstrap.css", :media => "screen", :rel => "stylesheet"}
    %link{:href => "css/font-awesome.css", :media => "screen", :rel => "stylesheet"}
    %link{:href => "css/chosen.min.css", :media => "screen", :rel => "stylesheet"}
    %link{:href => "css/main.css", :media => "screen", :rel => "stylesheet"}
    / endbuild
  %body
    .jumbotron
      .container
        .row
          .col-xs-12
            %h1 Rinse Price Calculator
            %p
              Estimate how much it costs to clean your clothes with
              = succeed "" do
                %a{:href => "http://www.rinse.com"} Rinse

    .container
      .row
        .col-xs-12.col-md-10.col-md-offset-1
          %table.table.table-hover.table-striped
            %thead.calculation-options
              %tr
                %td.form-group
                  %label.text-left{:for => "garment-type"} Garment
                  %select#garment-type.form-control{:name => "select", "data-placeholder" => "e.g. Shirt, Blouse, etc."}
                    %option{:value => ""}

                %td.form-group
                  %label{:for => "garment-quantity"} Quantity
                  %input#garment-quantity.form-control.single-option{:type => "number", :placeholder => "1", :value => "1"}/

                %td.form-group
                  %label Price
                  %a.btn.disabled.btn-link &nbsp;

                %td.form-group
                  %label{:for => "rush-order"} Rush?
                  .btn-group.single-option{"data-toggle" => "buttons"}
                    %label.btn.btn-default.single-option
                      %input#rush-order{:type => "checkbox", :autocomplete => "off"}
                        %span No

                %td.form-group
                  %label{:for => "hang-dry"} Hang&nbsp;Dry?
                  .btn-group.single-option{"data-toggle" => "buttons"}
                    %label.btn.btn-default.single-option
                      %input#hang-dry{:type => "checkbox", :autocomplete => "off"}
                        %span No

                %td.form-group
                  %label Cost
                  %a.btn.disabled.btn-link &nbsp;

                %td.form-group
                  %button#add-garment.btn.btn-primary.full-width Add

            %tbody#calculation-table
            %tfoot
              %tr
                %td{:colspan => "4"}
                %td Rush Fee
                %td#rush-fee.text-right $0.00
                %td
              %tr
                %td{:colspan => "2"}
                  #clear-items.btn.btn-danger Delete Everything
                %td.total-label.text-right{:colspan => "3"} Your Total Cost:
                %td#grand-total.text-right $0.00
                %td

      %footer
        %p
          Created by
          = succeed "." do
            %a{:href => "http://www.kortaggio.com"} Bill Mei
          %span#popover-disclaimer{"data-toggle" => "popover"} This website is not affiliated with Rinse Inc.

    / build:js js/main.js
    %script{:src => "js/jquery.js"}
    %script{:src => "js/bootstrap.js"}
    %script{:src => "js/underscore.js"}
    %script{:src => "js/backbone.js"}
    %script{:src => "js/backbone-localStorage.js"}
    %script{:src => "js/chosen.min.js"}
    %script{:src => "js/main.js"}
    / endbuild
