!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title Rinse Price Calculator
    %meta{:content => "Estimate how much it costs to use Rinse", :name => "description"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    / build:css css/main.css
    %link{:href => "css/bootstrap.css", :media => "screen", :rel => "stylesheet"}
    %link{:href => "css/font-awesome.css", :media => "screen", :rel => "stylesheet"}
    %link{:href => "css/chosen.min.css", :media => "screen", :rel => "stylesheet"}
    %link{:href => "css/main.css", :media => "screen", :rel => "stylesheet"}
    / endbuild
  %body
    .jumbotron
      .container
        %span#popover-disclaimer{"data-toggle" => "popover"} Unofficial
        %h1 Rinse Price Calculator
        %p Estimate how much it costs to clean your clothes with Rinse

        %form#garment-form
          .form-group
            %label{:for => "garment-type"} Garment
            %select#garment-type{:name => "select", "data-placeholder" => "e.g. Shirt, Blouse, etc."}
              %option{:value => ""}
              %option{:value => "bath mat"} Bath Mat
              %option{:value => "bathing suit (per piece)"} Bathing Suit (per piece)
              %option{:value => "bed sheet"} Bed Sheet
              %option{:value => "blanket"} Blanket
              %option{:value => "blazer"} Blazer
              %option{:value => "blouse"} Blouse
              %option{:value => "coat"} Coat
              %option{:value => "comforter"} Comforter
              %option{:value => "delicates"} Delicates
              %option{:value => "dress (casual)"} Dress (Casual)
              %option{:value => "dress (formal)"} Dress (Formal)
              %option{:value => "duvet cover"} Duvet Cover
              %option{:value => "jacket (formal)"} Jacket (Formal)
              %option{:value => "kitchen mat"} Kitchen Mat
              %option{:value => "napkin"} Napkin
              %option{:value => "pants"} Pants
              %option{:value => "pashmina"} Pashmina
              %option{:value => "pillow"} Pillow
              %option{:value => "pillowcase"} Pillowcase
              %option{:value => "scarf"} Scarf
              %option{:value => "shawl"} Shawl
              %option{:value => "shirt"} Shirt
              %option{:value => "skirt"} Skirt
              %option{:value => "sweater"} Sweater
              %option{:value => "synthetics"} Synthetics
              %option{:value => "tablecloth"} Tablecloth
              %option{:value => "tie"} Tie
              %option{:value => "wash and fold"} Wash and Fold

          .form-group
            %label{:for => "garment-quantity"} Number
            %input#garment-quantity{:type => "number", :placeholder => "0"}/

          .form-group
            %label{:for => "rush-order"} Rush Order?
            %input#rush-order{:type => "checkbox"}/

          .form-group
            %button#add-garment.btn.btn-primary Add
            %button#clear-items.btn.btn-danger Clear Items

          .form-group
            %label Your Total $
            %span#grand-total

    .container
      .row
        %h2 Breakdown
        %table.table.table-hover.table-striped
          %thead
            %td Service
            %td Cost
            %td Quantity
            %td Total
          %tbody#calculation-table
          / Wash and fold: Shirt, $2.50, 2, $5.00
          %tfoot
            %td.table-spacer{:colspan => "2"}
            %td.total-label Total
            %td#total-value $0.00

      %footer
        %p
          Created by
          = succeed "." do
            %a{:href => "http://www.kortaggio.com"} Bill Mei
          This website is not affiliated with Rinse Inc.

    / build:js js/main.js
    %script{:src => "js/jquery.js"}
    %script{:src => "js/bootstrap.js"}
    %script{:src => "js/underscore.js"}
    %script{:src => "js/backbone.js"}
    %script{:src => "js/backbone-localStorage.js"}
    %script{:src => "js/chosen.min.js"}
    %script{:src => "js/main.js"}
    / endbuild
