@import "colors";
@import "fonts";
@import "dimens";

html {
  // Always display scrollbars
  overflow: -moz-scrollbars-vertical;
  overflow: scroll;
}

body {
  background: $bg-primary;
  background-repeat: repeat;
  font-family: $primary-font;
}

.jumbotron {
  background-color: $logo-blue;
  color: $text-light;
}

.table {
  width: auto;
}

.full-width {
  width: 100%;
}

.calculation-options {
  label {
    text-align: center;
    display: block;
    padding-left: $padding-inline;
    &.text-left {
      text-align: left;
    }
    &.btn {
      text-align: center;
    }
  }
  .form-group {
    vertical-align: bottom;
  }
  .chosen-container {
    text-align: left;
    font-size: 1em;
    .chosen-single {
      height: $form-input-height;
      span {
        padding: $padding-inner;
      }
    }
  }
  .single-option {
    width: 4em;
    margin: 0 auto;
    display: block;
  }
  .btn.active {
    background-color: $logo-blue;
    color: $text-light;
  }
}

#calculation-table {
  text-align: center;
}

#grand-total,
.total-label {
  font-size: 2em;
}

#popover-disclaimer:hover {
  cursor: pointer;
}
