@import "colors";
@import "fonts";
@import "dimens";

#popover-disclaimer:hover {
  cursor: pointer;
}

#calculation-table:hover {
  cursor: pointer;
}


.calculation-options {
  label {
    text-align: left;
    display: block;
    padding-left: $padding-inline;
    &.btn {
      text-align: center;
      width: 4em;
    }
  }
  .form-group {
    vertical-align: bottom;
  }
  .chosen-container {
    text-align: left;
    font-size: 1em;
    .chosen-single {
      height: $form-input-height;
      span {
        padding: $padding-inner;
      }
    }
  }
  #garment-quantity {
    width: 5em;
  }
  .rush-order {
    .btn {
      // display: inline-block;
    }
  }

}
